<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Jelentkezz be a Google fiókodba</h4>
            </div>
            <div class="card-body">
                <div class="container mt-5">
                    <div class="row mt-5">
                        <div class="col-md-4 mt-2 m-auto ">
                            <div *ngIf="isSignedIn">
                                <button class="sign-out" matTooltip="Sign out" (click)="signOut()">Sign out
                                </button>
                            </div>
                            <div [style.display]="googleDisplay">
                                <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Tanfolyamok</h4>
            </div>
            <div class="card-body">
                <div>
<!--                    <ag-grid-angular-->
<!--                            style="width: 500px; height: 500px;"-->
<!--                            class="ag-theme-alpine"-->
<!--                            [rowData]="rows"-->
<!--                            [columnDefs]="columns"-->
<!--                    >-->
<!--                    </ag-grid-angular>-->

                    <ag-grid-angular
                            style="width: 500px; height: 500px;"
                            class="ag-theme-alpine"
                            [rowData]="rowData"
                            [columnDefs]="columnDefs"
                    >
                    </ag-grid-angular>
                </div>
            </div>
        </div>
    </div>
</div>
