<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Jelentkezz be a Google fiókodba</h4>
            </div>
            <div class="card-body">
                <div class="container mt-5">
                    <div class="row mt-5">
                        <div class="col-md-4 mt-2 m-auto ">
                            <div *ngIf="isSignedIn">
                                <blockquote class="blockquote">
                                    <p class="mb-0">Sikerült kapcsolódni a tanítványokat tartalmazó Google Sheet-hez</p>
                                    <button type="button" class="btn btn-info sign-out-button" (click)="signOut()">Kijelentkezés</button>
                                </blockquote>
                            </div>
                            <div [style.display]="googleDisplay">
                                <blockquote class="blockquote">
                                    <p class="mb-0">Kérlek, ezzel a gombbal jelentkezz be a Google fiókodba (amelyiknek van hozzáférése az excel-hez)</p>
                                </blockquote>
                                <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Válaszd ki, hogy mikor van a tanfolyam időpontja </h4>
                <small class="text-muted">Ha semmit nem választasz ki, akkor a mai dátumot veszi figyelembe</small>
            </div>
            <div class="card-body">
                <div class="container mt-5">
                    <div class="row mt-5">
                        <div class="col-md-4 mt-2 m-auto ">
                            <ngb-datepicker (dateSelect)="onDateSelect($event)" #d></ngb-datepicker>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-4 mt-2 m-auto ">
                            A kiválasztott dátum: <strong>{{trainingDate | date}}</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Tanfolyamok</h4>
                <small class="text-muted">Először válaszd ki, hogy melyik tanfolyamra szeretnél meghívókat küldeni.</small>
            </div>
            <div class="card-body">
                <div class="select-training-drop-down">
                    <ng-select
                            (change)="onTrainingSelect($event)"
                            [(ngModel)]="selectedTraining"
                            [clearable]="false"
                            [closeOnSelect]="true"
                            [hideSelected]="false"
                            [items]="trainingSelectItems"
                            bindLabel="name"
                            placeholder="All">
                    </ng-select>
                </div>
                <div class="card-padding">
                    <ag-grid-angular
                            style="max-width: 1800px; height: 500px;"
                            class="ag-theme-alpine"
                            [rowData]="rows"
                            [columnDefs]="columns"
                            [rowSelection]="'multiple'"
                            (selectionChanged)="onSelectionChanged()"
                            (gridReady)="onGridReady($event)"
                    >
                    </ag-grid-angular>
<!--                    <div class="example-header">-->
<!--                        Selection:-->
<!--                        <tr *ngFor="let student of selectedStudentRows">-->
<!--                            <td>{{student._email}}</td>-->
<!--                        </tr>-->
<!--                    </div>-->
<!--                    <div class="example-header">-->
<!--                        Ezek az email címek jöhetnek:-->
<!--                        <tr *ngFor="let email of trainingInviteEmails">-->
<!--                            <td>{{email}}</td>-->
<!--                        </tr>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="selectedTemplateUrl">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Sablon szerkesztése</h4>
                <small class="text-muted">Ez a sablon a kiválasztott tanfolyamhoz tartozik</small>
            </div>
            <div class="card-body">
                <div class="example-header card-padding">
                    <iframe height="620" align="middle" width="100%" border="0"
                            [src]="selectedTemplateUrl | safe"></iframe>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" *ngIf="selectedTemplateUrl">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Sablon átmásolása</h4>
                <small class="text-muted">Másolj ki mindent az előző dokumentumból és illeszd be ide. Erre azért van szükség,
                mert ebből a programból nem férek hozzá a Google Docs-hoz</small>
            </div>
            <div class="card-body card-padding">
                <angular-editor [config]="editorConfig" [(ngModel)]="emailTemplateHtmlContent"></angular-editor>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="selectedTemplateUrl">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Email küldés</h4>
                <small class="text-muted">Most már megvannak a tanítványok és a sablon, jöhet az email kiküldése.
                Csak azoknak a tanítványoknak megy ki az email, akiket be is jelöltél a jelölőnégyzettel. </small>
            </div>
            
        </div>
    </div>
</div>
