<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Jelentkezz be a Google fiókodba</h4>
            </div>
            <div class="card-body">
                <div class="container mt-5">
                    <div class="row mt-5">
                        <div class="col-md-4 mt-2 m-auto ">
                            <div *ngIf="isSignedIn">
                                <button class="sign-out" matTooltip="Sign out" (click)="signOut()">Sign out
                                </button>
                            </div>
                            <div [style.display]="googleDisplay">
                                <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Tanfolyamok</h4>
            </div>
            <div class="card-body">
                <div>
                    <ngx-datatable [rows]="rows"
                                   [columns]="columns"
                                   [columnMode]="ColumnMode.force"
                                   [headerHeight]="50"
                                   [footerHeight]="50"
                                   [reorderable]="true"
                                   [scrollbarH]="true"
                                   rowHeight="auto"
                                   [loadingIndicator]="isLoading"

                    >
<!--                        <ng-template ngFor let-item [ngForOf]="columns">-->
<!--                            <ngx-datatable-column *ngIf="item.visible" [canAutoResize]="item.canAutoResize"-->
<!--                                                  [cellTemplate]="item.cellTemplate"-->
<!--                                                  [draggable]="item.draggable"-->
<!--                                                  [frozenRight]="item.frozenRight"-->
<!--                                                  [resizeable]="item.resizeable"-->
<!--                                                  [sortable]="item.sortable"-->
<!--                                                  [width]="item.width"-->
<!--                                                  [prop]="item.name">-->

<!--                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>-->
<!--                                    <ng-container *ngIf="item.template === 'fulldate'">-->
<!--                                        {{value | fullLocalDate}}-->
<!--                                    </ng-container>-->
<!--                                    <ng-container *ngIf="item.template === 'text'">-->
<!--                                        <div class="truncateText">-->
<!--                                            {{value}}-->
<!--                                        </div>-->
<!--                                    </ng-container>-->
<!--                                </ng-template>-->
<!--                            </ngx-datatable-column>-->
<!--                        </ng-template>-->
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>
